body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    min-height: 100vh;
}

.header {
    display: flex;
    height: 50px;
    background: #1F2937;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
}

/* DO NOT PUT PADDING INTO THE OUTER ELEMENT, WILL AFFECT PADDING OF INNER ELEMENTS! */

.header .logo {
    font-weight: bold;
    padding-left: 10%;
}

.header ul {
    margin: 0px;
    list-style: none;
    display: flex;
    gap: 8px;
    /* Use percentage for scaling? */
    padding-right: 10%;
}

a {
    text-decoration: none;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #1F2937;
    color: white;
}

.body-1 {
    display: flex;
    justify-content: space-between;
    background: blue;
    padding: 0% 10% 0% 10%;
    gap: 5%;
    flex: 1;
    align-items: center;
}

.body-1 .text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: auto;
}

.body-1 .text .main-text {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.body-1 .text .sub-text {
    font-size: 16px;
    color: white;
}

.body-1 .text .signup {
    font-size: 16px;
    color: white;
    width: 15%;
    background-color: blue;
}

.body-1 .img {
    /* Text align works for images */
    text-align: right;
}

.body-1 .img img {
    /* WIDTH/HEIGHT STOPS IMAGE FROM OVERFLOWING DIV BOX! */
    height: auto;
    width: 800px;
}

.body-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    background-color: aliceblue;
}

.body-2 .text {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.body-2 .clear-text::before {
    content: '\00a0'; /* Unicode for a non-breaking space */
}

.smaller {
    /* For some reason % causes images/li to spread out a lot */
    width: 100px;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.body-2 .ul {
    margin: 0px;
    padding: 0px;
    gap: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.body-2 li {
    margin: 0px;
    text-align: center;
    /* NEED THIS FOR CORRECT WIDTH */
    width: 20%;
}

.body-2 li div{
    font-size: 15px;
}

.body-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.body-3 .text {
    font-size: 30px;
    text-align: center;
    width: 60%;
    color: gray;
}

.body-3 .author {
    font-weight: bold;
    font-size: 30px;
    text-align: right;
    width: 30%;
}

.body-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    flex: 1;
}

.body-4 .blue {
    background-color: blue;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.body-4 .blue .text {
    color: white;
    padding-left: 5%;
}

.body-4 .blue .signup {
    color: white;
    margin-right: 5%;
    border-radius: 10px;
    background-color: blue;
    border-color: white;
}

/* IT SEEMS THAT WIDTH NEEDS TO BE SET FOR THINGS TO HAVE STABLE SIZE, LIKE FONT AND ELEMENT WIDTH */