[submodule "javascript-files/javascript-projects/javascript-exercises"] 
  path = javascript-files/javascript-projects/javascript-exercises
  url = https://github.com/eteng2012/odinproject/tree/d67e7a3ecb7597b3f5516f62ec178961340df1df
