* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
header div {
    display: flex;
    align-items: center;
}
header button {
    font-size: 3rem;
}
header img {
    height: 10vh;
}
header nav {
    height: 10vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body #content .home .header {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

body #content .home .body {
    display: grid;
    /* USING GRID WAS WAY EASIER THAN FLEX! */
    grid-template: 1fr / 1fr 1fr;
    height: 75vh;
}

body #content .home .body img {
    height: 100%;
    overflow: hidden;
    /* Hides overflow of image */
    position: relative;
    justify-self: center;
}

body #content .home .body .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: white;
    padding: 1%;
    font-size: 2rem;
    text-align: center;
}

body #content .home .body .text div {
    margin: 1%;
}

body #content .home .body .text div:first-child {
    font-weight: bold;
}

body #content .body .text div:nth-child(2) {
    font-weight:100;
}

body #content .about .header {
    display: flex;
    height: 10vh;
    justify-content: left;
    align-items: center;
    font-size: 5rem;
}

body #content .about .grid {
    height: 75vh;
    display: grid;
    grid-template: 1fr 0.25fr / repeat(3, 1fr);
}

body #content .about .grid .grid-item {
    margin: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body #content .about .grid .grid-item .img_container{
    margin: 3vh;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    width: 50%;
    border: solid black;
    position: relative;
    display: flex;
}

body #content .about .grid .grid-item .img_container img{
    width: 100%;
    object-fit: cover;
    /* Used to have pizza icon fill box */
}

body #content .menu .header {
    display: flex;
    height: 10vh;
    justify-content: left;
    align-items: center;
    font-size: 5rem;
}

body #content .menu .grid {
    height: 75vh;
    display: grid;
    grid-template: repeat(3, 25vh) / 1fr;
}

body #content .menu .grid .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

body #content .menu .grid .grid-item .text {
    display: flex;
    flex-direction: column;
}

body #content .menu .grid .grid-item .text div:first-child  {
    font-size: 2rem;
    font-weight: bold;
}

body #content .menu .grid .grid-item .img_container{
    margin: 5vh;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    height: 100%;
    position: relative;
    display: flex;
}

body #content .menu .grid .grid-item .img_container img{
    width: 100%;
    object-fit: cover;
    /* Used to have pizza icon fill box */
}

body #content .contact .header {
    display: flex;
    height: 10vh;
    justify-content: left;
    align-items: center;
    font-size: 5rem;
}

body #content .contact .grid {
    display: grid;
    height: 75vh;
    grid-template: 1fr 2fr 0.25fr / repeat(3, 1fr);
}

body #content .contact .grid form {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 3;
}

body #content .contact .grid form label{
    margin: 2% 0% 0% 2%;
    font-size: 2rem;
}

body #content .contact .grid form input{
    margin: 2% 2% 1% 2%;
    font-size: 2rem;
    flex: 1;
}

body #content .contact .grid form .button_div{
    display: flex;
    justify-content: right;
    margin: 0% 2% 2% 0%;
    font-size: 1rem;
}

body #content .contact .grid .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body #content .contact .grid .social img{
    height: 25vh;
    /* DO NOT USE %! .social divs become huge */
    margin: 1%;
}

body #content .contact .grid .social div{
    font-size: 2rem;
}

body .credits {
    height: vh;
    display: flex;
    justify-content: center;
    align-items: center;
}