* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
}

body .sidebar {
    height: 100%;
    width: 20%;
    padding: 1%;
    /* Padding included in width, not margin */
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
}

body .sidebar .group {
    width: 100%;
    padding: 5%;
    margin-bottom: 5%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .sidebar .group .label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* text-align: left; */
    font-size: 2rem;
    /* margin-right: auto; */
    /* Pushes label to left */
    border: solid black;
}

body .sidebar .group .label .text{
    font-size: 2rem;
}

body .sidebar .group .label .add {
    height: 100%;
    aspect-ratio: 1 / 1;
}

body .sidebar .group .label .add .plus {
    height: 2rem;
    width: 2rem;
}

body .sidebar .group .project {
    width: 100%;
    aspect-ratio: 5 / 1;
    margin: 2.5% 5% 2.5% 5%;
    background-color: blueviolet;
}

body .sidebar .group .project input {
    outline: none;
    text-align: center;
    height:100%;
    width: 100%;
    font-size: 1.5rem;
}


body .main {
    height: 100%;
    width: 80%;
    background-color: royalblue;
    padding: 2.5%;
    display: flex;
    overflow: scroll;
}

body .main .task {
    width: 40%;
    flex: 0 0 auto;
    /* Need auto to set starting width */
    padding: 2.5%;
    margin-right: 2.5%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .main .task .label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* text-align: left; */
    font-size: 2rem;
    /* margin-right: auto; */
    /* Pushes label to left */
    border: solid black;
}

body .main .task .label .text{
    margin: 0 auto 0 auto;
    /* Centers text */
    font-size: 2rem;
}

body .main .task .label .add {
    height: 100%;
    aspect-ratio: 1 / 1;
}

body .main .task .label .add .plus {
    height: 2rem;
    width: 2rem;
}

body .main .task .phase {
    width: 100%;
    aspect-ratio: 5 / 1;
    background-color: blueviolet;
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .main .task .phase div {
    font-size: 1.5rem;
    background-color: blueviolet;
    margin-bottom: 2.5%;
    margin-right: auto;
}

body .main .task .phase .todo {
    width: 100%;
    aspect-ratio: 5 / 1;
    background-color: blueviolet;
}

body .custom_menu {
    display: none;
    position: absolute;
    background-color: gray;
    border-radius: 2px;
    padding: 1%;
    /* Allows for positioning on top of DOM elements */
}