/* Box shadow is new */
.header {
    color: black;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
}

.info li {
    text-align: center;

}

/* NO NEED TO SET HEIGHT, HEIGHT SHOULD BE BASED ON FONT SIZE! */

ul {
    list-style-type: none;/* Removes dots from ul */
    margin: 0;
    padding: 0;
    gap: 8px;
    display: flex;
    justify-content: center;
}
/* Key was justify-content: space-between and grouping the content into two chunks */